*, *::after, *::before {
    box-sizing: border-box;
  }

:root{
    --slider-padding: 3rem;
}

body{
    margin:0;
    background-color: black;
}

.container{
display:flex;
overflow: hidden;
justify-content:center;

}
.slider{
    --slider-index:0;
    display:flex;
    flex-grow:1;
    transform: translateX(calc(var(--slider-index) * -100%));
    margin: 0 0.25rem;
    transition: transform 250ms ease-in-out;
    
}

.slider > div{
    max-width: 20%;
    aspect-ratio: 16/9;
    padding-top:1rem;
    padding-left:1rem;
    padding-right:1rem;
    

}


div > p{
width:100%;
margin-top:2rem;
padding-left:1rem;
color:white;
font-family: Arial, Helvetica, sans-serif;

}

.ep-description{
    font-size:20px;
}

.ep-title{
    font-size:1.5rem;
}

 div > img{
    flex: 0 0 20%;
    max-width: 100%;
    max-height: 80%;
    aspect-ratio:16/9;
    padding:0.25rem;
    border-radius: 1rem;
}

.handle{
    border:none;
    border-radius: 1rem;
    flex-grow:0;
    z-index:10;
    background-color:rgba(0,0,0,.25);
    margin:.25rem 0;
    cursor:pointer;
    font-size:4rem;
    padding:.3rem;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: transform 150ms ease-in-out;
}
.left-handle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.right-handle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.handle:hover,
.handle:focus{
    background-color:rgba(0,0,0,.5);
}

.text{
    transition: transform 150ms ease-in-out;
}
.handle:hover .text,
.handle:focus .text{
    transform: scale(1.4);
}
.main{
    padding-top:3rem;
    padding-bottom:3rem;
    background: linear-gradient(to right,black 30%,transparent);

}
.background-main{
    background-color:rgb(52, 111, 219);
}
.show-title{
    margin-left:4rem;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

}
header{
    padding: 1rem 3rem 0 3rem;
    display:flex;
  }
  .main-nav{
    padding:2rem;
  }
  .main-nav a:hover{
    color: rgb(154, 154, 154);
  }
  .main-nav a{
    font-size:1.5rem;
    text-decoration: none;
    font-family:Century Gothic;
    color: white;
    margin: 1rem;
  }
  .title{
    font-family: "Roboto", sans-serif;
    font-size:3rem;
    color:rgb(52, 111, 219);
  }
  /*padding: 0px 20px 0 20px;
  /*position:fixed;
  /*top: 0;
  /*display: grid;  
  /*grid-gap:5px;
  /*grid-template-columns: 1fr 4fr 1fr;
  /*grid-template-areas: 
  /* "tc mn mn"; 
  /*background-color:var(--primary);
  /*width: 100%;
  /*margin-bottom: 0px; 
  /*margin-left:-10px;
